/* Reset y configuraci贸n global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 5vw;
    margin-top: 10vh;
}

/* Contenedor del video para posicionar el bot贸n */
.video-container {
    position: relative;
    width: 80vw;
    max-width: 300px;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    color: #FF0000;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: -10vh;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    color: white;
    margin-bottom: 2vh;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    font-size: 2.5vw;
    color: #fff;
    margin-bottom: 2vh;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

/* Estilo del bot贸n dentro del video */
.play-button {
    position: absolute;
    top: 50%; /* Ajusta la posici贸n vertical relativa al video */
    left: 50%; /* Centra el bot贸n */
    transform: translate(-50%, -50%);
    width: 15%; /* Ajusta el tama帽o relativo al video */
    height: 15%;
    border: none;
    background: url("boton-textura.png") no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Efecto de bot贸n cuando se presiona */
.play-button:active {
    transform: translate(-50%, -50%) scale(0.9);
}

/*  Estilos para m贸viles */
@media (max-width: 600px) {
    .video-container {
        width: 80vw;
        height: auto;
    }

    h1 { font-size: 6vw; }
    h3 { font-size: 4.5vw; }
    h2 { font-size: 4.5vw; }
    p { font-size: 4vw; }
}
